<!-- app/views/users/change_password.html.erb -->

<h1>Change password</h1>

<%= form_for @user, url: '/users/' + @user.id.to_s + '/change_password' do |f| %>

	<% if @user.errors.any? %>
		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	<% end %>

	<p>
		<%= f.label :password %> <br>
		<%= f.password_field(:password) %>
	</p>

	<p>
		<%= f.label :password_confirmation %> <br>
		<%= f.password_field(:password_confirmation) %>
	</p>

  <%= f.submit "Save changes" %> <br><br>
  <%= link_to 'Cancel changes', root_path %>

<% end %>