<!-- app/views/users/new.html.erb -->

<h1>New account</h1>

<%= form_for @user, url: '/users' do |f| %>

	<% if @user.errors.any? %>
		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	<% end %>

	<p>
		<%= f.label :username %> <br>
		<%= f.text_field(:username) %>
	</p>

	<p>
		<%= f.label :email %> <br>
		<%= f.text_field(:email) %>
	</p>

	<p>
		<%= f.label :password_confirmation %> <br>
		<%= f.password_field(:password) %>
	</p>

	<p>
		<%= f.label :password_confirmation %> <br>
		<%= f.password_field(:password_confirmation) %>
	</p>

	<%= f.submit "Create account" %> <br>

	<br><%= link_to 'Sign into existing account', '/login' %>

<% end %>