<!-- app/views/users/new_student.html.erb -->

<h1>New student</h1>

<%= form_for @user, url: '/students' do |f| %>

	<% if @user.errors.any? %>
		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	<% end %>

	<p>
		<%= f.label :email %> <br>
		<%= f.text_field(:email) %>
	</p>

	<p>
		<%= f.label :first_name %> <br>
		<%= f.text_field(:first_name) %>
	</p>

	<p>
		<%= f.label :last_name %> <br>
		<%= f.text_field(:last_name) %>
	</p>

	<p>
		<%= f.label :address %> <br>
		<%= f.text_field(:address) %>
	</p>

	<p>
		<%= f.label :birth_date %> <br>
		<%= f.date_field(:birth_date) %>
	</p>

	<%= f.submit "Create student" %> <br><br>
	<% if is_admin %>
		<%= link_to "<button>Back</button>".html_safe, '/users_creator' %> <br><br>
	<% end %>
	<% if is_librarian %>
		<%= link_to "<button>Back</button>".html_safe, root_path %> <br><br>
	<% end %>

<% end %>