<h1>Dostępne biblioteki</h1>

<table class="table">
  <tr>
    <th>Nazwa</th>
    <th>Adres</th>
    <th>Opis</th>
    <th>Akcje</th>
  </tr>
 
  <% @libraries.each do |lib| %>
    <tr>
      <td><%= lib.name %></td>
      <td><%= lib.address %></td>
      <td><%= lib.description %></td>
      <td>
        <%= link_to 'Przeglądaj zasoby', lib, :class => 'btn btn-default' %>
        <% if current_user.role == "administrator" || current_user.role == "librarian" %>
          <%= link_to 'Edytuj', edit_library_path(lib), :class => 'btn btn-default' %>
          <%= link_to 'Usuń', '/libraries/'+ lib.id.to_s + '/destroy_form', :class => 'btn btn-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
  <% if current_user.role == "administrator" || current_user.role == "librarian" %>
  <%= link_to 'Dodaj bibliotekę', new_library_path, :class => 'btn btn-default' %>
<% end %>