<!-- app/views/users/new.html.erb -->

<div class="col-md-4 col-md-offset-4">
	<div class="panel panel-info">
		<div class="panel-heading">Nowa biblioteka</div>
		<div class="panel-body">

		<%= form_for @library, url: '/libraries', :html => {:class => 'form-group'} do |f| %>

		<% if @library.errors.any? %>
			<ul>
			<% @library.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		<% end %>

		<p>
			<%= f.label :name %> <br>
			<%= f.text_field(:name, class: "form-control") %>
		</p>

		<p>
			<%= f.label :address %> <br>
			<%= f.text_field(:address, class: "form-control") %>
		</p>

		<p>
			<%= f.label :description %> <br>
			<%= f.text_field(:description, class: "form-control") %>
		</p>

		<%= f.submit "Utwórz bibliotekę", :class => "btn btn-primary" %> <br>

		<% end %>
		</div>
	</div>
</div>