<h1>Szczególy biblioteki</h1>

    <p><strong>Nazwa: </strong><%= @library.name %></p>
    <p><strong>Adres: </strong><%= @library.address %></p>
    <p><strong>Opis: </strong><%= @library.description %></p>
    <p><strong>Akcje: </strong>
        <%= link_to 'Edytuj', edit_library_path, :class => 'btn btn-default' %>
        <%= link_to 'Dodaj książkę', books_new_path, :class => 'btn btn-default' %>
        <%= link_to 'Usuń', '/libraries/'+ @library.id.to_s + '/destroy_form', :class => 'btn btn-danger' %>

    </p>

<h2>Księgozbiór biblioteki</h2>
<table class="table">

    <%= render 'books/book_row_header' %>
 
    <% @library_books.each do |book| %>
    <%= render book %>
    <% end %>
</table>
