
 
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.edition %></td>
      <td><%= book.publication_date %></td>
      <td><%= book.ISBN %></td>
      <td><%= book.signature %></td>
      <td><%= book.library.name %></td>
      <td>Any informarmations!</td>
      <td>
      	<%= form_for book, url: student_add_borrow_path, method: :post do |f| %>

          <%= f.hidden_field(:book_id, :value => book.id) %>

        <%= f.submit "Wypożycz", :class => 'btn btn-default' %> <br>

        <% end %>
        <%= link_to 'Szczególy', library_book_path(book.library, book.id), :class => 'btn btn-default' %>
      </td>
    </tr>
