<div class="row">
  <div class="col-md-4">
  <h1>Książki</h1>
  </div>
  <div class="col-md-offset-4 col-md-4">
    <%= form_tag(books_path, :method => "get", id: "search-form", :class => "form-group search-form") do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], :class => "form-control", placeholder: "Wpisz tytuł szukanej książki" %>
        <span class="input-group-btn">
        <%= submit_tag "Szukaj", :class => 'btn btn-primary' %>
        </span>
      <% end %>
    </div>
  </div>
</div>
<% if @books.present? %>
<table class="table">
<%= render 'books/book_row_header' %>
 
  <%= render @books %>
</table>
<%= will_paginate %>
<% else %>
<h4 class="bg-info custom-info">Brak książek</h4>
<% end %>
