<tr>
      	<td><%= borrow.id %></td>
        <td><%= borrow.student.user.first_name + " " + borrow.student.user.last_name %></td>
      	<td><%= borrow.book.title %></td>
      	<td><%= borrow.book.library.name %></td>
      	<td><%= borrow.start_date %></td>
      </tr>