<!-- app/views/librarians/borrows.html.erb -->

<h1>Wypożyczenia:</h1>
<div class="table-responsive"> 
  <table class="table table-striped">

    <thead>
      <tr>
        <th>Nr wypożyczenia</th>
        <th>Student</th>
        <th>Książka</th>
        <th>Biblioteka</th>
        <th>Początek wypożyczenia</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @borrows.each do |borrow| %>
      <tr>
      	<td><%= borrow.id %></td>
        <td><%= borrow.student.user.first_name + " " + borrow.student.user.last_name %></td>
      	<td><%= borrow.book.title %></td>
      	<td><%= borrow.book.library.name %></td>
      	<td><%= borrow.start_date %></td>
        <%= form_for borrow, url: librarian_confirm_borrow_path do |f| %>

          <%= f.hidden_field(:borrow_id, :value => borrow.id) %>

          <td><%= f.submit "Akceptuj", :onclick => "return confirm('Jesteś pewny?')" %></td>

        <% end %>
        <!--<td><%= link_to "Akceptuj wypożyczenia", :back, :class => 'btn btn-success' %></td> -->
      </tr>
    <% end %>
    </tbody>
    
  </table>
</div>